


.ghost,
.glitch {
  opacity: 0.25;
}

#message {
  max-width: 700px;
  margin:auto;
  left: 50%;
  top: 50%;
}
#message p {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  font-family: Courier, monospace;
  font-smoothing: antialiased;
  margin: 0.8em 0;
  font-size: 18px;
  color: #fff;
}
#animate {
  text-shadow: 0 0 8px rgba(209, 194, 165, 0.1);
  position: absolute;
  color: #4f4228;
  bottom: 0;
}

